@media screen and (min-width: 400px) {
  footer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    align-items: center;
    background-color: #48aaad;
    margin-top: auto;
  }
}

@media screen and (min-width: 992px) {
  footer {
    flex-direction: row;
  }
}
